In [3]:
import pandas as pd

In [7]:
# Read Dataset
df = pd.read_csv("dirty_data.csv")
log = []
print("Original Data:\n", df)

Original Data:
     ID       Full Name          Age     Join Date   Salary Department
0    1    Rahul Sharma           25    2022-01-15  35000.0         IT
1    2     Priya Verma          NaN    2021/05/20  42000.0         HR
2    3      Amit Singh           28    15-07-2022  39000.0    Finance
3    4      Neha Gupta           27    2022-03-10      NaN         IT
4    5     Rohit Kumar           30    2021-11-05  48000.0      Sales
5    6    Anjali Mehta           29    2022-01-15  35000.0         IT
6    6    Anjali Mehta           29    2022-01-15  35000.0         IT
7    7    Suresh Patel          NaN    2020-08-18  41000.0         HR
8    8      Pooja Shah           26  invalid_date  37000.0    Finance
9    9  Karan Malhotra           31    2022-06-25  50000.0        NaN
10  10     Simran Kaur           24    2023-02-12  32000.0  Marketing
11  11             NaN           27    2021-09-14  36000.0         IT
12  12     Vikas Yadav  twenty five    2022-12-01  40000.0         HR

In [15]:
import pandas as pd

# Step 1: Load Dataset
df = pd.read_csv("dirty_data.csv")

print("Original Dataset:\n")
print(df)
print("\n----------------------------------\n")

Original Dataset:

    ID       Full Name          Age     Join Date   Salary Department
0    1    Rahul Sharma           25    2022-01-15  35000.0         IT
1    2     Priya Verma          NaN    2021/05/20  42000.0         HR
2    3      Amit Singh           28    15-07-2022  39000.0    Finance
3    4      Neha Gupta           27    2022-03-10      NaN         IT
4    5     Rohit Kumar           30    2021-11-05  48000.0      Sales
5    6    Anjali Mehta           29    2022-01-15  35000.0         IT
6    6    Anjali Mehta           29    2022-01-15  35000.0         IT
7    7    Suresh Patel          NaN    2020-08-18  41000.0         HR
8    8      Pooja Shah           26  invalid_date  37000.0    Finance
9    9  Karan Malhotra           31    2022-06-25  50000.0        NaN
10  10     Simran Kaur           24    2023-02-12  32000.0  Marketing
11  11             NaN           27    2021-09-14  36000.0         IT
12  12     Vikas Yadav  twenty five    2022-12-01  40000.0         HR

----------------------------------

In [19]:
# Create Cleaning Log
log = []

In [27]:
# Step 2: Standardize Column Names
df.columns = df.columns.str.lower().str.replace(" ", "_")
log.append("Standardized column names")
df.columns

Index(['id', 'full_name', 'age', 'join_date', 'salary', 'department'], dtype='object')

In [25]:
# Step 3: Check Missing Values (Before)
missing_before = df.isnull().sum()
log.append("Checked missing values before cleaning")
missing_before

id            0
full_name     1
age           2
join_date     0
salary        1
department    1
dtype: int64

In [35]:
# Step 4: Handle Missing Values

In [71]:
import pandas as pd

# Load dataset
df = pd.read_csv("dirty_data.csv")

log = []

# Convert column names
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Fill missing full_name
df['full_name'] = df['full_name'].fillna("Unknown")
log.append("Filled missing full_name with 'Unknown'")

# Convert age to numeric
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Fill missing age with mean
df['age'] = df['age'].fillna(df['age'].mean())
log.append("Converted age to numeric and filled missing age with mean")

# Convert salary to numeric
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')

# Fill missing salary with median
df['salary'] = df['salary'].fillna(df['salary'].median())
log.append("Converted salary to numeric and filled missing salary with median")

# Fill missing department
df['department'] = df['department'].fillna("Not Assigned")
log.append("Filled missing department with 'Not Assigned'")

# Convert join_date to datetime
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce')

# Fill missing join_date with mode
df['join_date'] = df['join_date'].fillna(df['join_date'].mode()[0])
log.append("Converted join_date to datetime and filled missing dates")

# Remove duplicates
df = df.drop_duplicates()
log.append("Removed duplicate rows")

# Save cleaned data
df.to_csv("cleaned_data.csv", index=False)

# Save log
with open("cleaning_log.txt", "w") as f:
    for item in log:
        f.write(item + "\n")

print("Cleaning Completed Successfully!")
print(df)

Cleaning Completed Successfully!
    id       full_name   age  join_date   salary    department
0    1    Rahul Sharma  25.0 2022-01-15  35000.0            IT
1    2     Priya Verma  27.6 2022-01-15  42000.0            HR
2    3      Amit Singh  28.0 2022-01-15  39000.0       Finance
3    4      Neha Gupta  27.0 2022-03-10  38000.0            IT
4    5     Rohit Kumar  30.0 2021-11-05  48000.0         Sales
5    6    Anjali Mehta  29.0 2022-01-15  35000.0            IT
7    7    Suresh Patel  27.6 2020-08-18  41000.0            HR
8    8      Pooja Shah  26.0 2022-01-15  37000.0       Finance
9    9  Karan Malhotra  31.0 2022-06-25  50000.0  Not Assigned
10  10     Simran Kaur  24.0 2023-02-12  32000.0     Marketing
11  11         Unknown  27.0 2021-09-14  36000.0            IT
12  12     Vikas Yadav  27.6 2022-12-01  40000.0            HR

In [73]:
# Fill missing names
df['full_name'] = df['full_name'].fillna("Unknown")
log.append("Filled missing full_name with 'Unknown'")

# Convert age to numeric
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Fill missing age with mean
df['age'] = df['age'].fillna(df['age'].mean())
log.append("Converted age to numeric and filled missing age with mean")

# Convert salary to numeric
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')

# Fill missing salary with median
df['salary'] = df['salary'].fillna(df['salary'].median())
log.append("Converted salary to numeric and filled missing salary with median")

# Fill missing department
df['department'] = df['department'].fillna("Not Assigned")
log.append("Filled missing department with 'Not Assigned'")

# Step 4: Fix Date Column
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce')

# Fill missing dates with most frequent date
df['join_date'] = df['join_date'].fillna(df['join_date'].mode()[0])
log.append("Converted join_date to datetime and filled missing dates")

# Step 5: Remove Duplicates
duplicate_count = df.duplicated().sum()
df = df.drop_duplicates()
log.append(f"Removed {duplicate_count} duplicate rows")

# Step 6: Final Missing Value Check
missing_after = df.isnull().sum()
log.append("Checked missing values after cleaning")

# Step 7: Save Cleaned Dataset
df.to_csv("cleaned_data.csv", index=False)
log.append("Saved cleaned dataset as cleaned_data.csv")

# Step 8: Save Cleaning Log
with open("cleaning_log.txt", "w") as file:
    for item in log:
        file.write(item + "\n")

# Step 9: Display Results
print("Cleaned Dataset:\n")
print(df)

print("\nMissing Values After Cleaning:\n")
print(missing_after)

print("\n----------------------------------")
print("Cleaning Completed Successfully!")
print("Output Files Created:")
print("1. cleaned_data.csv")
print("2. cleaning_log.txt")

Cleaned Dataset:

    id       full_name   age  join_date   salary    department
0    1    Rahul Sharma  25.0 2022-01-15  35000.0            IT
1    2     Priya Verma  27.6 2022-01-15  42000.0            HR
2    3      Amit Singh  28.0 2022-01-15  39000.0       Finance
3    4      Neha Gupta  27.0 2022-03-10  38000.0            IT
4    5     Rohit Kumar  30.0 2021-11-05  48000.0         Sales
5    6    Anjali Mehta  29.0 2022-01-15  35000.0            IT
7    7    Suresh Patel  27.6 2020-08-18  41000.0            HR
8    8      Pooja Shah  26.0 2022-01-15  37000.0       Finance
9    9  Karan Malhotra  31.0 2022-06-25  50000.0  Not Assigned
10  10     Simran Kaur  24.0 2023-02-12  32000.0     Marketing
11  11         Unknown  27.0 2021-09-14  36000.0            IT
12  12     Vikas Yadav  27.6 2022-12-01  40000.0            HR

Missing Values After Cleaning:

id            0
full_name     0
age           0
join_date     0
salary        0
department    0
dtype: int64

----------------------------------
Cleaning Completed Successfully!
Output Files Created:
1. cleaned_data.csv
2. cleaning_log.txt